.page {
  width: 1000px;
  height: 920px;
  padding-left: 100px;
  padding-right: 100px;
  border: 1px solid black;
  background-color: lightgray;
}

.sec1 {
  height: 300px;
  border: 1px solid yellow;
  background-color: tomato;
}

.sec2 {
  height: 300px;
  border: 1px solid yellow;
  background-color: lightpink;
}

.sec3 {
  height: 300px;
  border: 1px solid yellow;
  background-color: lightseagreen;
}
/*
.fb-share-button {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.fb-share-button-my {
  display: block;
  width: 100px;
  height: 62px;
  border: 1px solid gray;
  background-image: url(../img/logo-fb.jpg);
  background-repeat: no-repeat;
  background-color: white;
}
*/