.social-likes {
  width: 50px;
  min-height: 315px;
}

.fb-share-button,
.vk-share-button,
.tw-share-button,
.ok-share-button,
.gp-share-button {
  width: 50px;
  height: 62px;
  border: 1px solid #eaeaeb;
  cursor: pointer;
}

.vk-share-button,
.tw-share-button,
.ok-share-button,
.gp-share-button {
  border-top: none;
}

.fb-logo svg {
  height: 35px;
  margin-top: 4px;
  margin-left: 7px;
  margin-right: 5px;
  fill: #787878;
}

.fb-share-button:hover .fb-logo svg {
  fill: #3d5b95;
}

.vk-logo svg {
  height: 28px;
  margin-top: 10px;
  margin-left: 11px;
  fill: #787878;
}

.vk-logo:hover svg {
  fill: #587e9f;
}

.tw-logo svg {
  height: 28px;
  margin-top: 8px;
  margin-left: 11px;
  fill: #787878;
}

.tw-logo:hover svg {
  fill: #24aadd;
}

.ok-logo svg {
  height: 28px;
  margin-top: 8px;
  margin-left: 16px;
  fill: #787878;
}

.ok-logo:hover svg {
  fill: #f59310;
}

.gp-logo svg {
  height: 28px;
  margin-top: 8px;
  margin-left: 12px;
  fill: #787878;
}

.gp-logo:hover svg {
  fill: #d23e30;
}

.social-likes__counter {
  display: block;
  margin-top: -4px;
  color: #ababab;
  text-align: center;
  font-family: "Fira Sans", Arial, sans-serif;
  font-size: 10px;
}

.social-likes__counter.social-likes__counter_facebook {
  display: block;
  margin-top: -4px;
  color: #ababab;
  text-align: center;
  font-family: "Fira Sans", Arial, sans-serif;
  font-size: 10px;
}

.social-likes__counter.social-likes__counter_vkontakte {
  display: block;
  margin-top: -4px;
  color: #ababab;
  text-align: center;
  font-family: "Fira Sans", Arial, sans-serif;
  font-size: 10px;
}

.social-likes__counter.social-likes__counter_twitter {
  display: block;
  margin-top: -4px;
  color: #ababab;
  text-align: center;
  font-family: "Fira Sans", Arial, sans-serif;
  font-size: 10px;
}

.social-likes__counter.social-likes__counter_odnoklassniki {
  display: block;
  margin-top: -4px;
  color: #ababab;
  text-align: center;
  font-family: "Fira Sans", Arial, sans-serif;
  font-size: 10px;
}

.social-likes__counter.social-likes__counter_plusone {
  display: block;
  margin-top: -4px;
  color: #ababab;
  text-align: center;
  font-family: "Fira Sans", Arial, sans-serif;
  font-size: 10px;
}
