.social-likes {
  width: 50px;
  min-height: 315px;
}

.fb-share-button {
  width: 50px;
  height: 62px;
  border: 1px solid gray;
}

.fb-logo {
  display: block;
}

.social-likes__counter.social-likes__counter_facebook {
  display: block;
  color: #000;
}
/*
.social-likes__button .social-likes__button_facebook {
  display: block;
  order: 2;
}

.social-likes_vertical .social-likes__counter {
  position: relative;
  top: -100px;
  right: -10px;
}
*/